@import "./bootstrap/bootstrap.less";
@import "./parts/header.less";

@import "./parts/infoGrid.less";
@import "./parts/textGrid.less";
@import "./parts/horizontalGrid.less";
@import "./parts/info.less";
@import "./parts/socialBar.less";
@import "./parts/checkBadges.less";


@import "./pages/index.less";
@import "./pages/hackaday.less";



body{
  a{
    color: @green;
    &:hover{
      color: @orange;
    }
  }
  
  h2{
    color: @green;
  }
  
  .green{
    color: @green;
  }

  .app{
    padding-bottom: 100px;
  }
  
}



.container{
  max-width: 960px;

}

