@import "./bootstrap/bootstrap.less";
@import "./parts/header.less";

@import "./parts/infoGrid.less";
@import "./parts/info.less";


@import "./pages/index.less";
@import "./pages/hackaday.less";



body{
  padding-bottom: 50px;
  a{
    color: @green;
  }
}

.container{
  max-width: 960px;
}

