.header
  .container.top
    .logo
      h3 Jungle Dynamics

    ul.secondaryLinks.pull-right.nav   




  .container.links           
    ul.primaryLinks
      li.link
        a.dropdown-toggle(href="/") Inicio
        i.icon-bolt(style="font-size: 150px;top: -10px;right: -30px;")
    
      li.dropdown.link(data-subnav="hackaday")
        a Hack-a-Day
          i.icon-caret-down
        i.icon-tasks
      
      li.dropdown.link(data-subnav="apps")
        a.dropdown-toggle CRNews
        i.icon-globe

      li.dropdown.link(data-subnav="apps")
        a.dropdown-toggle Perfiles 
        i.icon-github       
        
           
      li.dropdown.link(data-subnav="aboutus")
        a.dropdown-toggle About Us
        i.icon-map-marker
    
      li.dropdown.link(data-subnav="contacto")
        a.dropdown-toggle Contacto
        i.icon-envelope

    .subnav.hackaday
      .row-fluid.buttons
        a.span3(href="/hack-a-day")
          i.icon-book
          h2 Info
        a.span3(href="/hack-a-day/preparese")
          i.icon-beaker
          h2 Pre-Paracion
        a.span3(href="/hack-a-day/app")
          i.icon-th-list
          h2 Sobre el App


    .subnav.apps
      .layout
        .row-fluid
          .span6
             h2 We'll build an App for That

             blockquote
               p
                 | "This section will be live soon :)"


    .subnav.contacto.contactFormWrapper
      .layout
        .row-fluid
          .span5
            form.form-horizontal.contactForm(name="contactForm")
              fieldset
                legend A veces respondemos :)
             
                .control-group
                  label.control-label(for="input01") Su Nombre
                  .controls
                    input.span12.txtName(type="text",class="validatable", data-type="name", data-numeric="false" , required , autofocus)
                
                .control-group
                  label.control-label(for="input01") Su Email
                  .controls
                    input.span12.txtEmail(type="email",class="validatable", data-type="email", data-numeric="false",required)
              
                .control-group
                  label.control-label(for="input01") Cuentenos
                  .controls
                    textarea.span12.txtMessage(type="text",class="validatable", data-type="message", data-numeric="false",required)

                p.alert
                  small (todos los campos son requeridos)
                button.btn.pull-right.btn-success(type="submit") Enviar
                
                
                
          .span1
          .span5.
            <h3 class="color"> Contacte a nuestros equipo</h3>
            <img src="/images/founders/rrodriguez.jpeg" alt="" rel="popover" data-content="<h4>Tecnologia</h4><p>roberto@jungledynamics.com</p><small class='small'>click copy&paste correo</small>" data-original-title="Roberto Rodriguez" style="width:100px" class="roundimg popovers popable thumbnail span">
          
            <img src="/images/founders/juan.jpg" style="width:100px" alt="" rel="popover" data-content="<h4>Emprendedurismo</h4><p>juan@jungledynamics.com</p>" data-original-title="Juan Munoz" class="roundimg popovers popable thumbnail span">
          
            <img src="/images/founders/amora.jpg" alt="" rel="popover" style="width:100px" data-content="<h4>Inversion</h4><p>arnoldo@jungledynamics.com</p>" data-original-title="Arnoldo Mora" class="roundimg popovers popable thumbnail span">

          

    .subnav.aboutus
      .layout
        .row-fluid
          .span5
             h2 Jungle Dynamics Inc

             blockquote
               p
                 | "Jungle Dynamics es una empresa dedicada a fomentar el emprendedurismo, la innovación, la transferencia de conocimiento y, sobre todo, la aplicación de estos para la ideación y ejecución de soluciones." 
           
          
          .span1
          .span5
             h3.color Contacte a nuestros equipo
         
             blockquote
              p Roberto Rodriguez - roberto@jungledynamics.com
              p Arnoldo Mora - arnoldo@jungledynamics.com
              p Juan Muñoz - juan@jungledynamics.com


