.container.info
  .hero-unit
    .row-fluid
      .span6
        h1 Hack a Day
      .span6
        h3 Un evento modelado en las famosas competencias de programadores utilizadas como dinámica de reclutamiento por reconocidas compañías de tecnología o como foro para coronar campeones de desarrollo tecnológico. 
  
  p Hack-a-Day tropicaliza el hackaton para las necesidades de la comunidad tecnológica y emprendedora de Costa Rica: 
  
  p A través de Hack-a-Day, Jungle Dynamics pretende romper paradigmas, empoderando al talento nacional a construir sus ideas, fomentando la colaboración como herramienta de emprendedurismo
  
  h2 Asi funciona...

   
.container.infoGrid
  .row-fluid
    .span4
      .item
        .imageWrapper
          i.icon-group
        p Los mejores emprendedores , programadores, diseñadores y expertos en medios trabajarán juntos durante un dia
    .span4
      .item
        .imageWrapper
          i.icon-dashboard
        p Inventan y Construyen un “App” (web/móvil), con tecnologias avanzadisimas que permiten trabajar en equipo y rapido.

    .span4
      .item
        .imageWrapper
          i.icon-money
        p así como su estrategia de lanzamiento y crecimiento en un solo día. 

br
br
.container.infoGrid
  .row-fluid
    .span4
      .item
        .imageWrapper
          i.icon-download
        h2.feature &nbsp;&nbsp; App in a Day
        p Aplicarremos técnicas de desarrollo ágil de apps para construir un app real en un día.

    .span4
      .item
        .imageWrapper
          i.icon-cloud
        h2.feature &nbsp;&nbsp;Cloud Computing
        p Aprenderán sobre nubes: todo corre en la nube.  Desarrolladores, servidores, data y apps.

    .span4
      .item
        .imageWrapper
          i.icon-cogs
        h2.feature &nbsp;&nbsp;Innovative
        p Aprenderán sobre    el futuro:  Single Page Apps,   diseño web y móvil,  Realtime Web.


br
br



.container
  .row-fluid
    .span6
      h2 Fundadores de Jungle Dynamics
      hr
      img.roundimg.popovers.popable.thumbnail.span(src='/images/founders/rrodriguez.jpeg', alt='', rel='popover', data-content='A brief info about john doe', data-original-title='John Doe' , style="width:100px")
      img.roundimg.popovers.popable.thumbnail.span(src='/images/founders/juan.jpg', style="width:100px", alt='', rel='popover', data-content='A brief info about john doe', data-original-title='John Doe')
      img.roundimg.popovers.popable.thumbnail.span(src='/images/founders/amora.jpg', alt='', rel='popover', style="width:100px" ,  data-content='A brief info about john doe', data-original-title='John Doe')
      p

    .span6
      br
      blockquote
        p
          | "Es un excelente ejercicio para compartir conocimiento y potenciar la creatividad y, por que no, de varias iteraciones podrían salir apps muy interesantes." 
        small Arnoldo Mora
      blockquote
        p
          | Crear un ecosistema de oportunidades para idear soluciones y aprender a ejecutarlas, para ayudar a levantar compañías y sueños, para ser filántropos, emprendedores y focos de cambio. Y queremos usar el ingenio y sabiduría de una comunidad colaborativa, apasionada y con sed de acción para lograrlo. 
        small Juan Muñoz

  br
  br


.container
  .alert.alert-success
    h2 HACK-A-DAY es un evento con fines de diversión donde miembros de la comunidad emprendedora se juntan para construir un app.

.container
  .row-fluid.textGrid
    .span4.item
      h2 Registrese
      h3 La actividad es para todos, novatos y profesionales; diseñadores y periodistas
      p ¡Regístrese como participante para ser parte del equipo que va a construir y lanzar un app!</br>

    .span4.item
      h2 Asista al evento 
      h3  Los asistentes del público aprenderán del proceso y brindaran “feedback”.
      p  Mentores en desarrollo, diseño, medios sociales, negocios y emprendimiento asignaran a los participantes con tareas 

    .span4.item
      h2 Colabore
      h3 Alguna vez a trabajado en un proyecto Open Source, de forma remota?
      p Esta es su oportunidad de aprender como trabajar de forma distribuida, junto a muy buenos programadores, diseñadores y publicitas!

  <br/>

  br



.container
  .row-fluid.textGrid
    .span4
      h2 Programadores
      p Un grupo grande (~30) programadores de diferentes niveles de experiencia trabajaran bajo la tutela de unos cuantos MENTORES para aprender, colaborar y crear una aplicación web/movil que sea de utilidad para la comunidad emprendedora del país. Usarán y aprenderán de las últimas corrientes tecnológicas y serán los encargados de las mejoras futuras del sistema
    
    

    .span4
      h2 Disenadores
      p Este equipo de creativos visuales (~5) tendrá la tarea de crear una identidad para el app, así como apoyar los esfuerzos de interface con los diseñadores y de mercadeo y prensa. Este equipo será liderado por un gran MENTOR y deberá coordinar muy bien sus esfuerzos ya que debe interactuar amplia_ mente con los equipos restantes.



    .span4
      h2 Publicitas
      p Este equipo es esencial para el funcionamiento del app ya que se encargará de crear e implementar el lanzamiento del mismo, asegurándose además de crear una estrategia que cumpla los objetivos de mercadeo en medios sociales y tradicionales. Su MENTOR deberá colaborar con el equipo de diseño y deberá seguir de cerca el trabajo de los hackers para lograr l éxito de la campaña

  br
  br    
  h2 Horario y Actividades
  hr
  table.table.table-bordered.table-striped
    tr
      th 7:30 - 8:00AM
      td Registro de los participantes.
    tr
      th 8:00 - 8:30AM
      td Presentación de directores y mentores.
    tr
      th 8:30 - 9:00AM
      td Introducción del app, herramientas,misión, propósito, etc.
    tr
      th 9:00 - 12.30PM
      td ¡A trabajar!
    tr
      th 12:30 - 1.30PM:
      td Almuerzo
    tr
      th  1:30 - 5.00PM:
      td ¡Más trabajo!
    tr
      th 5.00 - 6.00PM
      td Preparar el lanzamiento.
    tr
      th 6:00pm
      td Lanzamiento de la versión beta para la prensa y público.
    tr
      th Domingo:
      td solución de “bugs”.
    tr
      th Lunes:
      td ¡app se lanza en vivo
      
      
  h2 Preguntas
  h3 Escribanos a tickets@jungledynamics.com