.container.splash
  img.rounded(src="/images/splash1.jpg")


.container.infoGrid
  .alert.alert-success
    h3 Nos dedicamos a fomentar el emprendedurismo, innovaci贸n, transferencia de conocimiento y, sobre todo, la aplicaci贸n de estos para la ideaci贸n y ejecuci贸n de soluciones

  .row-fluid
    .span4
      .item
        .imageWrapper
          i.icon-group
        h2 Comunidad
        p Creamos comunidades para acelerar el conocimiento<br/>
    .span4
      .item
        .imageWrapper
          i.icon-dashboard
        h2 Emprendimiento
        p Buscamos emprendedores y los ayudamos a catalizar sus ideas 

    .span4
      .item
        .imageWrapper
          i.icon-money
        h2 Inversion Angel
        p Manejamos un fondo de inversion de alto riesgo para alta tecnologia