.container.splash
  img.rounded(src="/images/splash1.jpg")


.container.infoGrid
  .alert.alert-success
    h3 Nos dedicamos a fomentar el emprendedurismo, innovación, transferencia de conocimiento y, sobre todo, la aplicación de estos para la ideación y ejecución de soluciones

  .row-fluid
    .span4
      .item
        .imageWrapper
          i.icon-group
        h2 Comunidad
        p Creamos comunidades para acelerar el conocimiento<br/>
    .span4
      .item
        .imageWrapper
          i.icon-dashboard
        h2 Emprendimiento
        p Buscamos emprendedores y los ayudamos a catalizar sus ideas 

    .span4
      .item
        .imageWrapper
          i.icon-money
        h2 Inversion Angel
        p Manejamos y facilitamos inversion de alto riesgo para tecnologías disruptivas