!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
  
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
  
//if IE 8
  <html class="no-js lt-ie9" lang="en">

html(lang="en")
  
  head
    meta(charset='utf-8')
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    link(rel='stylesheet', href='/application.css', type='text/css', charset='utf-8')

    title Jungle Dynamics
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //link(rel='icon', type='image/ico', href='favicon.ico')

    //if lt IE 9
      <link rel="stylesheet" href="src/stylesheets/ie.css">
    
    //if lt IE 9
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  
    
    script(src='/application.js', type='text/javascript', charset='utf-8')
      
    script(type='text/javascript', charset='utf-8')
      var jQuery  = require("jqueryify");
      var exports = this;
      jQuery(function(){
        var App = require("index");
        exports.app = new App({el: $("body")});      
      });

  body
    .navbar.header
      .navbar-inner
        .container.top
          .logo
            h3 Jungle Dynamics
          ul.secondaryLinks.pull-right
            li
              a Jungle Dynamics
        
        .container.links           
          ul.primaryLinks
            li.link
              a.dropdown-toggle(href="/") Inicio
              i.icon-bolt(style="font-size: 150px;top: -10px;right: -30px;")
          
            li.dropdown.link(data-subnav="hackaday")
              a Hack-a-Day
                i.icon-caret-down
              i.icon-tasks
            
            li.dropdown.link
              a.dropdown-toggle(data-toggle="dropdown",href="http://crnews.jungledynamics.com") CRNews
              i.icon-globe
  
            li.dropdown.link(data-subnav="apps")
              a.dropdown-toggle Cloud Apps
              i.icon-cloud       
              
                 
            li.dropdown.link(data-subnav="aboutus")
              a.dropdown-toggle About Us
              i.icon-map-marker
          
            li.dropdown.link(data-subnav="contacto")
              a.dropdown-toggle Contacto
              i.icon-envelope

          .subnav.hackaday
            .row-fluid.buttons
              a.span3(href="/hack-a-day")
                i.icon-book
                h2 Info
              a.span3(href="/hack-a-day/preparese")
                i.icon-beaker
                h2 Pre-Paracion
              a.span3(href="/hack-a-day/app")
                i.icon-th-list
                h2 Sobre el App


          .subnav.apps
            .row-fluid.layout
              .row-fluid
                .span6
                   h2 We'll build an App for That

                   blockquote
                     p
                       | "This section will be live soon :)"




          .subnav.contacto
            .row-fluid.layout
              .span5
                form.form-horizontal
                  fieldset
                    legend A veces respondemos :)
                    p
                      small (todos los campos son requeridos)
                      .control-group
                        label.control-label(for="input01") Su Nombre
                        .controls
                          input.span12(type="text")
                        
                      .control-group
                        label.control-label(for="input01") Su Email
                        .controls
                          input.span12(type="text")
                      
                      .control-group
                        label.control-label(for="input01") Cuentenos
                        .controls
                          textarea.span12(type="text")

                      a.btn.pull-right.btn-success Enviar
                      
                      
                      
              .span1
              .span5
                 h3.color Contacte a nuestros equipo

                 blockquote
                  p Roberto Rodriguez - roberto@jungledynamics.com
                  p Arnoldo Mora - arnoldo@jungledynamics.com
                  p Juan Muñoz - juan@jungledynamics.com

                

          .subnav.aboutus
            .row-fluid.layout
              .span5
                 h2 Jungle Dynamics Inc

                 blockquote
                   p
                     | "Jungle Dynamics es una empresa dedicada a fomentar el emprendedurismo, la innovación, la transferencia de conocimiento y, sobre todo, la aplicación de estos para la ideación y ejecución de soluciones." 
                 
                
              .span1
              .span5
                 h3.color Contacte a nuestros equipo
               
                 blockquote
                  p Roberto Rodriguez - roberto@jungledynamics.com
                  p Arnoldo Mora - arnoldo@jungledynamics.com
                  p Juan Muñoz - juan@jungledynamics.com


          


    != body
    
    

      
