.container.info
  .hero-unit
    .row-fluid
      .span6
        h1 Preparacion
      .span6
        h3 Recomendamos a los programadores que participan en el realizar este tutorial para preparar su equipos antes del evento;
  
  p Hack-a-Day tropicaliza el hackaton para las necesidades de la comunidad tecnológica y emprendedora de Costa Rica: 
  
  p A través de Hack-a-Day, Jungle Dynamics pretende romper paradigmas, empoderando al talento nacional a construir sus ideas, fomentando la colaboración como herramienta de emprendedurismo
  
  h2 Asi funciona...

   
