.container.info
  .hero-unit
    .row-fluid
      .span6
        h1 Preparacion
      .span6
        h3 Recomendamos a los programadores que participan en el realizar este tutorial para preparar su equipos antes del evento;
  

.container.textGrid
  .alert.alert-success
    h3 Tres Pilares del Desarrollo Web ( Frontend ) Moderno

  .row-fluid
    .span4
      .item
        h2 NodeJS
        p El servidor y ambiente de desarrollo de vanguardia que revoluciona internet.<br/>
          i.green Ahora con instalador automatico: <a target="_blank" href="nodejs.org">Instalelo Ahora</a><br/>
          
    .span4
      .item
        h2 Git
        p La herramienta de colabracion dentras de la construccion de Linux y todo el Open Source<br/>
          i.green Linux lo trae por default;<br/> En Mac hay que instalarlo

    .span4
      .item
        h2 UNIX
        p Mac y Linux son basados en Unix y facilitan el manejo de dependencias (Ruby y Javascript)<br/>
          i.green Si tiene windows:<br/> Es mejor virtualizar linux


  .alert.alert-error
    h3 Todos los participantes necesitan una cuenta en <a  target="_blank" href="http://github.com">GITHUB</a>



.container
  .row-fluid.horizontalGrid
    .span8
      h2 Instalando NodeJS
  
      p Para instalar NODEJS, se visita la pagina <a target="_blank" href="nodejs.org">NODEJS.ORG</a> , se descarga Node v0.8.1 o la version mas vigente. El archivo es un paquete de instalacion para su sistema operativo y se instala rapidamente;

      p NodeJS incluye Node Package Manager (NPM) que es un toolset para descargar dependencias segun su version. 
      
      p Los paquetes los creamos los programadores Open Source y los registramos en <a href="http://npmjs.org/">NPM</a> , una manera de usar esto es a travez del CLI ( Command Line Tool )
      
      p Pero  su verdadero poder se ve cuando se trabaja en equipos y al hacer deployments, porque cuando se descarga el App en cualquier ambiente <strong> Incluyendo el Servidor de Produccion</strong> todos los libraries se instalan solos segun la version especificada.
      
      p Nosotros construimos una Library en NODEJS que se encarga de resolver todos las situaciones de desarrollo que vamos a encontrar y <a href="www.rodriguezartavia.com/opfsample1">aqui mas info si quieren adelantarse un poco</a>.

    .span4
      br
      br
      br
      .alert.alert-warning Si bien NODEJS es compatible con windows, la mayoria de beneficios se pierde al utilizar esta plataforma
      br
   
      .alert.alert-warning  Por ejemplo<br/> npm install jquery@7.1.1<br/> npm install json2@1.0.0 <br/> npm install modernizer
      
      .alert.alert-warning ARCHIVO STANDARD DE DEPLOYMENT</br>
        "opfcli"        :  "0.0.2",</br>
        "es5-shimify"   :  "~0.0.1",</br>
        "json2ify"      :  "~0.0.1",</br>
        "jqueryify"     :  "~0.0.1",</br>
        "spine"         :  "1.0.5",</br>
        "express"       :  "2.5.8" , </br>
        "coffee-script" :  "~1.3.1",</br>
        "less"          :  "~1.3.0",</br>
        "jade"          :  "~0.26.1",</br>
        
        
.container
  .row-fluid.horizontalGrid
    .span8
      h2 Instalando Git
      p Git es la herramienta mas importante de todas, nos permite programar y colaborar con otros; Fue inventada para desarrollar Linux hace muchos años y se ha convertido en el estandard de programacion a nivel global.
      p Porque usar GIT?, alguna vez han estado trabajando en un diseño, programando algo y hacen un cambio; Mas tarde, se dan cuenta que fue un error.... como regresar el tiempo...
      p Le mandamos unos archivo a un colega, el nos los devuelve, les hizo cambio... pero nosotros tambien hemos hecho cambios... :(
      p Trabajamos y llama el jefe, necesitamos que quite esta foto ya mismo.... pero estamos trabajando en otra cosa y no podemos publicarla.... 
    
      p Git esta incluido en Linux, para instalarlo en MAC/Linux/Windows <a href="https://help.github.com/articles/set-up-git" target="_blank">sigan esta excelente guia</a>
    
    .span4
      br
      br
      br
      br

      br
      .alert.alert-success GIT es una herramienta para regresar el tiempo

      br
      br
      br
      .alert.alert-success GIT es una herramienta para colaborar
  
      br
      br
      br
      .alert.alert-success GIT es una heramienta para tener varios ambientes de desarrollo
  
.container
  .row-fluid.horizontalGrid
    .span8
      h2 Unix = Linux || Mac != Windows
      p Desde hace mucho mucho tiempo se utiliza UNIX para escribir programas. Eso aun no ha cambiado porque es mas facil, es mas rapido y da menos problemas.
      p Los comandos, los tutoriales, los permisos, la ubicacion de carpetas, todo lo relacionado a programacion es para Linux o Mac
      p Si uno es programador, es mejor trabajar en Linux o Mac; sino va tener que resolver los problemas solo (y solo hay problemas en windows); Por desgracia, lo mismo podria suceder en este evento;
      p Virtualizar Linux en Windows es muy facil y VMWare tiene software muy bueno para eso que lo recomendamos.
  
  
    
    