.container.info
  .hero-unit
    .row-fluid
      .span6
        h1 Preparacion
      .span6
        h3 Recomendamos a los programadores que participan en el realizar este tutorial para preparar su equipos antes del evento;
  
   
